@import "../utils/variable";
@import"../utils/mixins";

.error{
    display: flex;
    flex-direction: column;
    align-items: center;
        &_title{
            color:$primary-color ;
            font-size: 288px;
            font-weight: 700;
        }
        &_text{
            color: $primary-color;
            font-size: 36px;
            font-weight: 500;
        }
        &_return{
            text-decoration: underline;
            cursor: pointer;
            font-size: 18px;
            font-weight: 500;
        }
}