@import "../utils/variable";
@import "../utils/mixins";
@import "../layout/header";
@import "../layout/nav";
@import "../layout/banner";
@import "../layout/gallery";
@import "../layout/carousel";
@import "../layout/presentation";
@import "../layout/collaps";
@import "../layout/card";
@import "../layout/footer";
@import "../page/home";
@import "../page/about";
@import "../page/error";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}
.app {
  @include flexCenterColumn;
  max-width: 1440px;
  margin-left: 40px;
}
.main {
  width: 1240px;
}

.display {
  display: block;
  list-style: none;
  background-color: $secondary-color;
  padding: 15px;
}
.displayNone {
  display: none;
}
