@import "../utils/variable";
@import "../utils/mixins";
@import "../layout/header";
@import "../layout/nav";
@import "../layout/banner";
@import "../layout/gallery";
@import "../layout/carousel";
@import "../layout/presentation";
@import "../layout/collaps";
@import "../layout/card";
@import "../layout/footer";
@import "../page/home";
@import "../page/about";
@import "../page/error";
@import "../Page/logement";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}
body {
  display: flex;
  justify-content: center;
}
.app {
  @include flexCenterColumn;
  max-width: $max-width-screen;
  width: 100%;
  @include desktopMedium-breakpoint {
    width: 100%;
  }
  @include mobile-breakpoint {
    width: 100%;
  }
}
.main {
  width: 100%;
  max-width: 1240px;
  @include mobile-breakpoint {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
}

