@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 3% 0 3% 0;
  width: 100%;
  max-width: 1240px;
}
.header_logo {
  width: 210px;
  height: 68px;
}
@media screen and (max-width: 768px) {
  .header_logo {
    width: 113px;
    height: 44px;
  }
}
@media screen and (max-width: 768px) {
  .header {
    text-transform: uppercase;
    padding: 0 20px;
  }
}
@media screen and (min-width: 1800px) {
  .header {
    max-width: none;
    width: 98%;
  }
}

.header_nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 57px;
}
.header_nav_link {
  font-size: 24px;
  cursor: pointer;
  color: black;
  text-decoration-line: none;
}
@media screen and (max-width: 768px) {
  .header_nav_link {
    font-size: 12px;
    padding-top: 3px;
  }
}
@media screen and (min-width: 1800px) {
  .header_nav_link {
    font-size: 40px;
  }
}
.header_nav_active {
  font-size: 24px;
  cursor: pointer;
  color: black;
  text-decoration: none;
  border-bottom: solid 2px black;
}
@media screen and (max-width: 768px) {
  .header_nav_active {
    font-size: 12px;
    padding-top: 3px;
  }
}
@media screen and (min-width: 1800px) {
  .header_nav_active {
    font-size: 40px;
  }
}
@media screen and (max-width: 768px) {
  .header_nav {
    align-items: center;
    gap: 30px;
  }
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}
.banner_img {
  width: 100%;
  height: 226px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  border-radius: 25px;
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  .banner_img {
    height: 111px;
    border-radius: 10px;
  }
}
@media screen and (min-width: 1800px) {
  .banner_img {
    height: 250px;
  }
}
.banner_text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  font-size: 48px;
  font-weight: 700;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.2509803922);
  width: 100%;
  height: 100%;
  border-radius: 25px;
}
@media screen and (max-width: 768px) {
  .banner_text {
    font-size: 24px;
    padding-left: 15px;
    padding-right: 48px;
    line-height: 24px;
    border-radius: 10px;
  }
}
@media screen and (max-width: 768px) {
  .banner {
    margin-bottom: 5px;
    width: 95%;
  }
}

.gallery {
  box-sizing: content-box;
  border-radius: 25px;
  background-color: #f6f6f6;
  height: 700px;
  overflow-y: hidden;
  overflow: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.gallery:-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
@media screen and (max-width: 768px) {
  .gallery {
    background-color: unset;
    border-radius: unset;
  }
}
@media screen and (min-width: 1800px) {
  .gallery {
    height: 742px;
  }
}

.carousel {
  position: relative;
  display: flex;
  justify-content: center;
}
.carousel_picture {
  width: 100%;
  height: 415px;
  object-fit: cover;
  border-radius: 25px;
}
@media screen and (max-width: 768px) {
  .carousel_picture {
    width: 100%;
    height: 255px;
    border-radius: 10px;
  }
}
@media screen and (min-width: 1800px) {
  .carousel_picture {
    height: 540px;
  }
}
.carousel_arrows {
  position: absolute;
  bottom: 40%;
  display: flex;
  justify-content: space-between;
  width: 97%;
  margin: 0 15px 0 15px;
}
@media screen and (max-width: 768px) {
  .carousel_arrows {
    height: 24px;
  }
}
.carousel_counter {
  text-align: center;
  position: absolute;
  bottom: 5%;
  color: #ffffff;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  .carousel_counter {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .carousel {
    width: 100%;
    margin-top: 10px;
  }
}

.presentation_location {
  width: 75%;
}
.presentation_location_title {
  color: #ff6060;
  font-weight: 500;
  font-size: 36px;
}
@media screen and (max-width: 768px) {
  .presentation_location_title {
    font-size: 18px;
  }
}
@media screen and (min-width: 1800px) {
  .presentation_location_title {
    font-size: 50px;
  }
}
.presentation_location_adress {
  font-weight: 500;
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  .presentation_location_adress {
    font-size: 14px;
    margin-top: 5px;
  }
}
@media screen and (min-width: 1800px) {
  .presentation_location_adress {
    font-size: 40px;
  }
}
.presentation_location_tags {
  gap: 10px;
  color: #ffffff;
  list-style: none;
}
.presentation_host_rate--star {
  height: 24px;
  width: 24px;
}
@media screen and (max-width: 768px) {
  .presentation_host_rate--star {
    height: 14px;
    width: 14px;
  }
}
@media screen and (min-width: 1800px) {
  .presentation_host_rate--star {
    width: 34px;
    height: 34px;
    margin-top: 5px;
  }
}

.tag {
  background-color: #ff6060;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .tag {
    font-size: 10px;
    border-radius: 5px;
  }
}
@media screen and (min-width: 1800px) {
  .tag {
    font-size: 30px;
  }
}

.profil_name {
  width: 70px;
  color: #ff6060;
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  .profil_name {
    font-size: 12px;
    width: 60px;
    font-weight: 500;
  }
}
@media screen and (min-width: 1800px) {
  .profil_name {
    font-size: 30px;
    width: 145px;
  }
}
.profil_picture {
  border-radius: 50%;
  height: 64px;
  width: 64px;
}
@media screen and (max-width: 768px) {
  .profil_picture {
    width: 32px;
    height: 32px;
  }
}
@media screen and (min-width: 1800px) {
  .profil_picture {
    height: 128px;
    width: 128px;
  }
}

.collaps {
  margin-top: 28px;
}
.collaps_item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  border-radius: 10px 5px 10px 5px;
  width: 100%;
  height: 52px;
  padding: 0 10px 0 10px;
  transition: height 0.3s ease-out;
  background-color: #ff6060;
}
@media screen and (max-width: 768px) {
  .collaps_item {
    height: 30px;
  }
}
@media screen and (min-width: 1800px) {
  .collaps_item {
    height: 100px;
  }
}
.collaps_item_title {
  font-size: 18px;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .collaps_item_title {
    font-size: 13px;
    font-weight: 700;
  }
}
@media screen and (min-width: 1800px) {
  .collaps_item_title {
    font-size: 30px;
  }
}
.collaps_item_arrow {
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(241deg) brightness(100%) contrast(103%);
  transition: transform 0.3s ease-in-out;
}
.collaps_item_arrow.rotate {
  transform: rotate(-180deg);
}
@media screen and (min-width: 1800px) {
  .collaps_item_arrow {
    height: 28px;
  }
}
@media screen and (max-width: 768px) {
  .collaps:nth-child(1) {
    margin-top: 0;
  }
}

.collaps_unrolled {
  list-style: none;
  background-color: #f6f6f6;
  border-radius: 0 0 15px 15px;
  padding: 20px;
  max-height: fit-content;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
@media screen and (min-width: 1800px) {
  .collaps_unrolled {
    font-size: 34px;
  }
}

.collaps_rollup {
  overflow: hidden;
  list-style: none;
  transition: all 0.3s ease-in-out;
  max-height: 0;
  opacity: 0;
}

.card {
  text-align: center;
  width: 85%;
  height: 340px;
  position: relative;
}
.card_link {
  width: 100%;
  text-decoration: none;
}
.card_img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 10px;
}
@media screen and (max-width: 768px) {
  .card_img {
    height: 100%;
    width: 100%;
  }
}
.card_title {
  display: block;
  position: absolute;
  bottom: 4%;
  padding: 2%;
  width: 50%;
  margin-left: 5%;
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  color: #f6f6f6;
  background-color: rgba(0, 0, 0, 0.2509803922);
  border-radius: 10px;
}
@media screen and (min-width: 1800px) {
  .card_title {
    font-size: 25px;
  }
}
@media screen and (max-width: 768px) {
  .card {
    width: 95%;
    height: 205px;
  }
}
@media screen and (min-width: 1800px) {
  .card {
    height: 400px;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #ffffff;
  background-color: #000000;
  padding: 3vh 0 3vh 0;
  width: 1440px;
}
.footer_content {
  list-style: none;
}
.footer_content_li {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .footer_content_li {
    font-size: 12px;
  }
}
.footer_content_li_logo {
  height: 40px;
  width: 123px;
}
@media screen and (min-width: 769px) and (max-width: 1230px) {
  .footer {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    width: 100%;
    height: 209px;
  }
}
@media screen and (min-width: 1800px) {
  .footer {
    width: 100%;
  }
}

.gallery {
  display: grid;
  justify-items: center;
  grid-template-columns: 33% 33% 33%;
  row-gap: 7%;
  padding: 4% 0 4% 0;
  margin: 0 0 2% 0;
}
@media screen and (max-width: 768px) {
  .gallery {
    grid-template-columns: 100%;
    row-gap: 2%;
    height: 630px;
  }
}

.about {
  width: 100%;
  padding: 0 40px;
}
.about_content {
  margin-bottom: 58px;
}
@media screen and (max-width: 768px) {
  .about_content {
    margin: 28px 0;
  }
}
@media screen and (max-width: 768px) {
  .about {
    padding: 0;
    height: 335px;
    min-height: fit-content;
  }
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.error_title {
  color: #ff6060;
  font-size: 288px;
  font-weight: 700;
  margin-bottom: 100px;
}
@media screen and (max-width: 768px) {
  .error_title {
    font-size: 96px;
    margin: 80px 0;
  }
}
.error_text {
  color: #ff6060;
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 100px;
}
@media screen and (max-width: 768px) {
  .error_text {
    font-size: 18px;
    width: 70%;
    text-align: center;
    margin-bottom: 80px;
  }
}
.error_return {
  text-decoration: underline;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 139px;
}
@media screen and (max-width: 768px) {
  .error_return {
    margin-bottom: 55px;
    font-size: 14px;
  }
}

.presentation {
  display: flex;
  justify-content: space-between;
  margin: 30px 0 26px 0;
}
@media screen and (max-width: 768px) {
  .presentation {
    flex-direction: column;
    justify-content: unset;
    width: 100%;
    margin-top: 10px;
  }
}
.presentation_location_tags {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
  .presentation_location_tags {
    margin-top: 10px;
  }
}
@media screen and (max-width: 768px) {
  .presentation_location {
    width: 85%;
  }
}
@media screen and (max-width: 768px) {
  .presentation_host {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 15px;
  }
}
.presentation_host_profil {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
@media screen and (max-width: 768px) {
  .presentation_host_profil {
    align-items: flex-end;
    gap: 0;
  }
}
@media screen and (min-width: 1800px) {
  .presentation_host_profil {
    align-items: center;
  }
}
.presentation_host_rate {
  display: flex;
  gap: 10px;
  text-align: end;
}
@media screen and (max-width: 768px) {
  .presentation_host_rate {
    gap: 5px;
  }
}

.tag {
  padding: 3px 25px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .tag {
    display: flex;
    align-items: center;
    padding: 4px 9px;
    margin-top: 5px;
  }
}

.deroulant {
  display: grid;
  grid-template-columns: 45% 45%;
  column-gap: 10%;
  margin-bottom: 48px;
  transition: height 0.3s ease-out;
}
@media screen and (max-width: 768px) {
  .deroulant {
    grid-template-columns: 100%;
    width: 100%;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

body {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1800px) {
  body {
    display: unset;
  }
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1440px;
  width: 100%;
}
@media screen and (min-width: 769px) and (max-width: 1230px) {
  .app {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .app {
    width: 100%;
  }
}
@media screen and (min-width: 1800px) {
  .app {
    max-width: none;
  }
}

.main {
  width: 100%;
  max-width: 1240px;
}
@media screen and (max-width: 768px) {
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
  }
}
@media screen and (min-width: 1800px) {
  .main {
    max-width: none;
  }
}

/*# sourceMappingURL=style.css.map */
