@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 3%;
  width: 1240px;
}
.header_logo {
  height: 68px;
}

.header_nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 57px;
}
.header_nav_link {
  border: none;
  background-color: inherit;
  font-size: 24px;
  cursor: pointer;
}
.header_nav_link:focus {
  text-decoration-line: underline;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}
.banner_img {
  width: 100%;
  height: 226px;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  border-radius: 25px;
  object-fit: cover;
}
.banner_text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 48px;
  font-weight: 700;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.2509803922);
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

.gallery {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  justify-items: center;
  row-gap: 7%;
  padding: 4% 0 4% 0;
  margin: 0 0 2% 0;
  border-radius: 25px;
  background-color: #f6f6f6;
  box-sizing: content-box;
  height: 700px;
  overflow-y: hidden;
  overflow: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.gallery:-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.carousel {
  position: relative;
  display: flex;
  justify-content: center;
}
.carousel_picture {
  width: 1240px;
  height: 415px;
  object-fit: cover;
}
.carousel_arrows {
  position: absolute;
  bottom: 40%;
  display: flex;
  justify-content: space-between;
  width: 97%;
  margin: 0 15px 0 15px;
}
.carousel_counter {
  text-align: center;
  position: absolute;
  bottom: 5%;
  color: #ffffff;
  font-weight: 500;
}

.presentation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 26px;
}
.presentation_location {
  width: 75%;
}
.presentation_location_title {
  color: #ff6060;
  font-weight: 500;
  font-size: 36px;
}
.presentation_location_adress {
  font-weight: 500;
  font-size: 18px;
}
.presentation_location_tags {
  display: flex;
  flex-direction: row;
  color: #ffffff;
  list-style: none;
  gap: 10px;
  margin-top: 20px;
}
.presentation_host_profil {
  display: flex;
  flex-direction: row;
}
.presentation_host_rate {
  gap: 4px;
  text-align: end;
}
.presentation_host_rate--star {
  height: 24px;
  width: 24px;
}

.tag {
  background-color: #ff6060;
  border-radius: 10px;
  padding: 1px 25px 0 25px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.profil_name {
  width: 70px;
}
.profil_picture {
  border-radius: 50%;
  height: 64px;
  width: 64px;
}

.collaps_item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  border-radius: 10px 5px 10px 5px;
  width: 100%;
  height: 52px;
  margin-top: 28px;
  padding: 0 10px 0 10px;
  font-size: 18px;
  font-weight: 500;
  background-color: #ff6060;
}
.collaps_item_arrow {
  height: 15px;
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(241deg) brightness(100%) contrast(103%);
}

.deroulant {
  display: grid;
  grid-template-columns: 45% 45%;
  column-gap: 5%;
  margin-bottom: 48px;
}

.card {
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
  width: 340px;
  height: 340px;
  position: relative;
  border-radius: 25px;
}
.card_link {
  width: 100%;
  text-decoration: none;
}
.card_img {
  max-width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 25px;
}
.card_title {
  display: block;
  position: absolute;
  bottom: 4%;
  width: 50%;
  margin-left: 5%;
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  color: #f6f6f6;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #ffffff;
  background-color: #000000;
  padding: 3vh 0 3vh 0;
  width: 100%;
}
.footer_content {
  list-style: none;
}
.footer_content_li {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}
.footer_content_li_logo {
  height: 5vh;
}

h1 {
  color: rgba(89, 0, 255, 0.996);
  font-size: x-large;
}

.about_content {
  margin-bottom: 58px;
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.error_title {
  color: #ff6060;
  font-size: 288px;
  font-weight: 700;
}
.error_text {
  color: #ff6060;
  font-size: 36px;
  font-weight: 500;
}
.error_return {
  text-decoration: underline;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1440px;
  margin-left: 40px;
}

.main {
  width: 1240px;
}

.display {
  display: block;
  list-style: none;
  background-color: #f6f6f6;
  padding: 15px;
}

.displayNone {
  display: none;
}

/*# sourceMappingURL=style.css.map */
