@mixin flexCenterColumn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@mixin FlexRowSpaceBetween {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@mixin borderRadius25 {
  border-radius: 25px;
}
@mixin borderRadius10 {
  border-radius: 10px;
}
//mobile responsive
@mixin mobile-breakpoint {
  @media screen and (max-width: map-get($breakpoints, desktopM)) {
    @content;
  }
}
//Media pour les ecrans de moyennes taille
@mixin desktopMedium-breakpoint {
  @media screen and (min-width: 769px) and (max-width: map-get($breakpoints, desktop)) {
    @content;
  }
}

//Media pour les écrans plus large

@mixin desktopLarge-breakpoint {
  @media screen and (min-width: 1800px) {
    @content;
  }
}
