$primary-color: #ff6060;
$secondary-color: #f6f6f6;
$tertiary-color: #ffffff;
$footer-color: #000000;
$background-color: rgba(0, 0, 0, 0.3);
$max-width-screen: 1440px;
$max-width-content: 1240px;
$font-weight-500: 500;
$font-weight-700: 700;

$breakpoints: (
  mobile: 375px,
  desktopM: 768px,
  desktop: 1230px,
);
