@import "../utils/variable";
@import "../utils/mixins";

.card {
  text-align: center;
  width: 85%;
  height: 340px;
  position: relative;

  &_link {
    width: 100%;
    text-decoration: none;
  }
  &_img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    @include borderRadius10;
    @include mobile-breakpoint {
      height: 100%;
      width: 100%;
    }
  }
  &_title {
    display: block;
    position: absolute;
    bottom: 4%;
    padding: 2%;
    width: 50%;
    margin-left: 5%;
    font-size: 18px;
    font-weight: $font-weight-700;
    text-align: left;
    color: $secondary-color;
    background-color: rgba(0, 0, 0, 0.2509803922);
    @include borderRadius10;
    @include desktopLarge-breakpoint {
      font-size: 25px;
    }
  }
  @include mobile-breakpoint {
    width: 95%;
    height: 205px;
  }
  @include desktopLarge-breakpoint {
    height: 450px;
  }
}
