@import "../utils/variable";
@import "../utils/mixins";
.gallery {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  justify-items: center;
  row-gap: 7%;
  padding: 4% 0 4% 0;
  margin: 0 0 2% 0;
  @include borderRadius25;
  background-color: $secondary-color;
  box-sizing: content-box;
  height: 700px;
  overflow-y: hidden;
  overflow: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  &:-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
  @include mobile-breakpoint {
    grid-template-columns: 100%;
    background-color: unset;
    row-gap: 2%;
    height: 630px;
  }
}
