@import "../utils/variable";
@import "../utils/mixins";
.gallery {
  box-sizing: content-box;
  @include borderRadius25;
  background-color: $secondary-color;

  @include mobile-breakpoint {
    background-color: unset;
    border-radius: unset;
  }
  @include desktopLarge-breakpoint {
    row-gap: 2%;
    column-gap: 2%;
  }
}
