@import "../utils/variable";
@import "../utils/mixins";

.header {
  @include FlexRowSpaceBetween;
  margin: 3% 0 3% 0;
  width: 100%;
  max-width: 1240px;
  &_logo {
    width: 210px;
    height: 68px;
    @include mobile-breakpoint {
      width: 144px;
      height: 44px;
    }
  }
  @include mobile-breakpoint {
    width: 90%;
    text-transform: uppercase;
  }
}
