@import "../utils/variable";
@import "../utils/mixins";

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 3%;
  width: 1240px;
  &_logo {
    height: 68px;
  }
}
