.header_nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 57px;
  &_link {
    font-size: 24px;
    cursor: pointer;
    color: black;
    text-decoration-line: none;
    @include mobile-breakpoint {
      font-size: 12px;
    }
  }
  &_active {
    font-size: 24px;
    cursor: pointer;
    color: black;
    text-decoration-line: underline;
    @include mobile-breakpoint {
      font-size: 12px;
    }
  }
  @include mobile-breakpoint {
    align-items: center;
    gap: 30px;
  }
}
