@import "../utils/variable";
@import "../utils/mixins";

//Corresponds à la présentation du logement
.presentation {
  &_location {
    width: 75%;

    &_title {
      color: $primary-color;
      font-weight: 500;
      font-size: 36px;
      @include mobile-breakpoint {
        font-size: 18px;
      }
      @include desktopLarge-breakpoint {
        font-size: 50px;
      }
    }
    &_adress {
      font-weight: 500;
      font-size: 18px;
      @include mobile-breakpoint {
        font-size: 14px;
        margin-top: 5px;
      }
      @include desktopLarge-breakpoint {
        font-size: 40px;
      }
    }
    &_tags {
      gap: 10px;
      color: $tertiary-color;
      list-style: none;
    }
  }
  &_host {
    &_rate {
      &--star {
        height: 24px;
        width: 24px;
        @include mobile-breakpoint {
          height: 14px;
          width: 14px;
        }
        @include desktopLarge-breakpoint {
          width: 34px;
          height: 34px;
          margin-top: 5px;
        }
      }
    }
  }
}

.tag {
  background-color: $primary-color;
  @include borderRadius10;
  font-size: 14px;
  font-weight: 700;
  @include mobile-breakpoint {
    font-size: 10px;
    border-radius: 5px;
  }
  @include desktopLarge-breakpoint {
    font-size: 30px;
  }
}

.profil {
  &_name {
    width: 70px;
    color: $primary-color;
    font-size: 18px;
    @include mobile-breakpoint {
      font-size: 12px;
      width: 60px;
      font-weight: 500;
    }
    @include desktopLarge-breakpoint {
      font-size: 30px;
      width: 145px;
    }
  }
  &_picture {
    border-radius: 50%;
    height: 64px;
    width: 64px;
    @include mobile-breakpoint {
      width: 32px;
      height: 32px;
    }
    @include desktopLarge-breakpoint {
      height: 128px;
      width: 128px;
    }
  }
}
