@import "../utils/variable";
@import "../utils/mixins";

.presentation {
  display: flex;
  justify-content: space-between;
  margin: 30px 0 26px 0;
    &_location {
    width: 75%;

    &_title {
      color: $primary-color;
      font-weight: 500;
      font-size: 36px;
      @include mobile-breakpoint  {
        font-size: 18px;
      }
    }
    &_adress {
      font-weight: 500;
      font-size: 18px;
      @include mobile-breakpoint  {
        font-size: 14px;
      }
    }
    &_tags {
      display: flex;
      flex-direction: row;
      color: $tertiary-color;
      list-style: none;
      gap: 10px;
      margin-top: 20px;
    }
  }
  &_host {
    @include mobile-breakpoint  {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: flex-end;
    }
    &_profil {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      @include mobile-breakpoint  {
        align-items: flex-end;
      }
    }
    &_rate {
      display: flex;
      gap: 10px;
      text-align: end;
      &--star {
        height: 24px;
        width: 24px;
        @include mobile-breakpoint  {
          height: 14px;
          width: 14px;
        }
      }
    }
  }
  @include mobile-breakpoint  {
    flex-direction: column;
    justify-content: unset;
    width: 100%;
    margin-top: 10px;
  }
}

.tag {
  background-color: $primary-color;
  border-radius: 10px;
  padding: 1px 25px 0 25px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  @include mobile-breakpoint  {
    font-size: 10px;
    display: flex;
    align-items: center;
    padding: 0px 15px 0 15px;
    margin-top: 5px;
  }
}

.profil {
  &_name {
    width: 70px;
    color: $primary-color;
    font-size: 18px;
    @include mobile-breakpoint{
      font-size: 12px;
    }
  }
  &_picture {
    border-radius: 50%;
    height: 64px;
    width: 64px;
    @include mobile-breakpoint  {
      width: 32px;
      height: 32px;
    }
  }
}
